<%= form_for(@order) do |order_form| %>
  <% if @order.errors.any? %>
    <div class="alert alert-danger">
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <% @order.pizzas.each do |pizza| %>
      <%= order_form.fields_for :pizzas, pizza do |pizza_form| %>
        <div class="panel-heading">
          <%= pizza_form.label pizza.name %>
        </div>
        <div class="panel-body">
          <%= pizza_form.label "Status" %>
          <%= pizza_form.select :status, %w[Fazendo Enviando Entregue] %><br>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= order_form.submit "Atualizar Status do Pedido", class: "btn btn-primary" %>
  </div>
<% end %>
