<%= form_for(@order) do |order_form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% order_form.fields_for :pizzas do |pizza_form| %>
    <%= pizza_form.text_field :status %>
  <% end %>

  <div class="form-group">
    <%= order_form.submit class: "btn btn-primary" %>
  </div>
<% end %>
