<%= form_for(@order) do |order_form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <% @order.pizzas.each do |pizza| %>
      <%= order_form.fields_for :pizzas, pizza do |pizzas_form| %>
        <div class="panel-heading">
          <% @order.pizzas.to_ary.delete_if{ |pizza| pizza.name.nil? } %>
          <% puts "SIZE: #{@order.pizzas.size}" %>
          <% puts "PIZZA NAME: #{pizza.name}" %>
          <% if !pizza.name.nil? %>
            <%= pizzas_form.label pizza.name %>
          <% end %>
        </div>
        <div class="panel-body">
          <%= pizzas_form.label "Status" %>
          <%= pizzas_form.select :status, %w[Fazendo Enviando Entregue] %><br>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= order_form.submit "Atualizar Pedido", class: "btn btn-primary" %>
  </div>
<% end %>
