<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Quantidade de Pizzas" %><br>
    </div>
    <div class="panel-body">
      <%= f.text_field :qtd_pizzas, size: "50", class: "form_control" %><br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Data do Pedido" %><br>
    </div>
    <div class="panel-body">
      <%= f.datetime_select :order_date, class: "form_control" %><br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Horário de Saída" %><br>
    </div>
    <div class="panel-body">
      <%= f.time_select :departure_time, class: "form_control" %><br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Horário de Chegada" %><br>
    </div>
    <div class="panel-body">
      <%= f.time_select :arrival_time, class: "form_control" %><br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Expectativa de Chegada" %><br>
    </div>
    <div class="panel-body">
      <%= f.time_select :expected_arrival, class: "form_control" %><br>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar Pedido", class: "btn btn-success" %>
  </div>
<% end %>
