<%= form_for(@order) do |order_form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Tipo de Pizza</th>
        <th>Preço</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
    <% if Pizza.all[0] == nil %>
      <tr>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>
      -
    </td>
      </tr>
    <% else %>
      <% Pizza.where( is_menu: true ).each do |pizza| %>
        <tr>
          <td><%= pizza.id %></td>
          <td><%= pizza.name %></td>
          <td>R$ <%= pizza.price %></td>
          <td><div class="col-lg-4">
            <%= order_form.fields_for :pizzas, @order.pizzas.build do |builder|
             %>
              <%= builder.hidden_field :name, value: pizza.name %>
              <%= builder.hidden_field :price, value: pizza.price %>
              <%= builder.hidden_field :status, value: "Fazendo" %>
              <%= builder.hidden_field :is_menu, value: false %>
              <%= builder.number_field :quantity, class: "form-control bfh-number", min: "0", max: "99", type: "number", value: "0" %>
            <% end %>
          </div></td>
        </tr>
        <%= order_form.hidden_field :user_id, value: current_user.id %>
      <% end %>
        <% @order.pizzas.each do |pizza| %>
          <% if pizza.quantity.nil? || pizza.quantity == 0 %>
            <% @order.pizzas.delete( pizza ) %>
          <% else %>
            <% puts "Pizza no pedido: #{pizza.name}" %>
          <% end %>
        <% end %>
      <% puts "Quantidade de pizzas no pedido: #{@order.pizzas.size}" %>
    <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= order_form.submit "Atualizar Pedido", class: "btn btn-success" %>
  </div>
<% end %>
