<div class="container">
  <h1>Pedidos</h1>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Código</th>
        <th>Cliente</th>
        <th>Total a Pagar</th>
        <th>Descrição</th>
        <th>Pizzas Pedidas</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr id="<%= order.id.to_s %>-row" data-link="<%= order_path(order) %>">
          <td><%= order.id %></td>
          <td><%= order.user.name %></td>
          <td><%= order.total_to_pay %></td>
          <td><div><%= "Data: #{order.order_date.strftime("%H:%M - %d/%m/%Y")}" %><br>
                   <%= "Chegada: #{order.expected_arrival.strftime("%H:%M - %d/%m/%Y")}" %><br>
                   <%= "Quantidade de Pizzas: #{order.qtd_pizzas}" %>
          </div></td>
          <td><% order.pizzas.each do |pizza| %>
                <%= "#{pizza.name} [ #{pizza.quantity} ]" %><br>
              <% end %></td>
          <td><%= order.status %></td>
          <td><%= button_to 'Atualizar Status do Pedido', edit_order_path(order), method: :get, class: "btn btn-primary" %></td>
          <td><%= button_to 'Cancelar', order, method: :delete, data: { confirm: 'Você tem certeza que deseja cancelar seu pedido?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= button_to 'Cadastrar Novo Pedido', new_order_path, method: :get, class: "btn btn-primary" %>
</div>
<br>
<br>
<br>
