<p id="notice"><%= notice %></p>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Dados do Pedido</h2>
    </div>
    <div class="panel-body">
      <p>
        <strong>Total a Pagar:</strong>
        <%= @order.total_to_pay %>
      </p>

      <p>
        <strong>Status do Pedido:</strong>
        <%= @order.status %>
      </p>

      <% @order.pizzas.each do |pizza| %>
        <p>
            <strong>Status da pizza de <%= pizza.name %>:</strong>
            <%= pizza.status %>
        </p>
      <% end %>

      <p>
        <strong>Quantidade de Pizzas:</strong>
        <%= @order.qtd_pizzas %>
      </p>

      <p>
        <strong>Data do Pedido:</strong>
        <%= @order.order_date %>
      </p>

      <p>
        <strong>Estimativa de Chegada:</strong>
        <%= @order.expected_arrival %>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <%= button_to "Editar Pedido", edit_order_path(@order), method: :get, class: "btn btn-primary" %>
  <%= link_to raw( "Voltar" ), orders_path, class: "btn btn-primary", style: "color: white" %>
</div>
