<p id="notice"><%= notice %></p>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Dados do Pedido</h2>
    </div>
    <div class="panel-body">
      <p>
        <strong>Total a Pagar:</strong>
        <%= "R$ #{@order.total_to_pay.real}" %>
      </p>

      <p>
        <strong>Status do Pedido:</strong>
        <%= @order.status %>
      </p>

      <% @order.pizzas.each do |pizza| %>
        <p>
            <strong>Status da pizza de <%= pizza.name %>:</strong>
            <%= pizza.status %>
        </p>
      <% end %>

      <p>
        <strong>Quantidade de Pizzas:</strong>
        <%= @order.qtd_pizzas %>
      </p>

      <p>
        <strong>Data do Pedido:</strong>
        <%= @order.order_date.strftime("%d/%m/%Y") %>
      </p>
      <p>
        <strong>Hora do Pedido:</strong>
        <%= @order.order_date.strftime("%H:%M") %>
      </p>

      <p>
        <strong>Estimativa de Horário de Chegada:</strong>
        <%= @order.expected_arrival.strftime("%H:%M") %>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <% if can? :update, Order %>
    <%= button_to "Editar Pedido", edit_order_path(@order), method: :get, class: "btn btn-primary" %>
    <%= link_to raw( "Voltar" ), orders_path, class: "btn btn-primary", style: "color: white" %>
  <% else %>
  <%= link_to raw( "Voltar" ), home_page_index_path, class: "btn btn-primary", style: "color: white" %>
  <% end %>
</div>
