<%= bootstrap_form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div class="alert alert-danger">

      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
        <div class="row text-center pad-top ">
            <div class="col-md-12">
                <h2>GEPETOHUT</h2>
            </div>
        </div>
         <div class="row  pad-top">
               
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                        <strong>   Cadastre-se </strong>  
                            </div>
                            <div class="panel-body">
                                <form role="form">
<br/>
                                        <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-circle-o-notch"></i></span>
                                             <%= f.text_field :name, class: "form_control",hide_label: true, placeholder: "Digite seu nome" %>
                                        </div>
                                     <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-tag"  ></i></span>
                                             <%= f.text_field :adress, class: "form_control",hide_label: true, placeholder: "Digite seu endereço" %>
                                        </div>
                                         <div class="form-group input-group">
                                            <span class="input-group-addon">@</span>
                                            <%= f.text_field :email, class: "form_control",hide_label: true, placeholder: "Digite seu email" %>
                                        </div>
                                        <div class="form-group input-group">
                                           <span class="input-group-addon"><i class="fa fa-phone"  ></i></span>
                                            <%= f.text_field :phone, class: "form_control",hide_label: true, placeholder: "Digite seu telefone" %>
                                        </div>
                                      <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                                            <input type="password" class="form-control" placeholder="Enter Password" />
                                        </div>
                                     <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                                            <input type="password" class="form-control" placeholder="Retype Password" />
                                        </div>
                                     
                                     <%= f.submit "Cadastrar",class: "btn btn-success" %>
                                    <hr />
                                    Já é cadastrado?  <a href="#" >Efetue o login</a>
                                    </form>
                            </div>
                           
                        </div>
            </div>     
        </div>
    </div>
<% end %>
