<%= form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Nome" %><br>
    </div>
    <div class="panel-body">
      <%= f.text_field :name, size: "50", class: "form_control" %><br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Preço" %><br>
    </div>
    <div class="panel-body">
      <%= f.text_field :price, size: "50", class: "form_control" %><br>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar Ingrediente", class: "btn btn-success" %>
  </div>
<% end %>
