<div class="container">
  <h1>Ingredientes</h1>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr data-link="<%= ingredient_path(ingredient) %>">
          <td><%= ingredient.name %></td>
          <td><%= ingredient.price %></td>
          <td><%= button_to 'Editar', edit_ingredient_path(ingredient), method: :get, class: "btn btn-primary" %></td>
          <td><%= button_to 'Remover', ingredient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= button_to 'Cadastrar Novo Ingrediente', new_ingredient_path, method: :get, class: "btn btn-primary" %>
</div>

<br>
<br>
<br>
