<h1>Escolha as opções desejadas abaixo!</h1>
<div class="page-header">
  </div>
<div class="col-md-15">
<%= form_tag home_page_index_path, :method => 'get', :id => "register-form" do %>
  <table class="table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Tipo de Pizza</th>
        <th>Preço</th>
        <th>Rating</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
    <% if Pizza.all[0] == nil %>
      <tr>
        <td>1</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>
			-
		</td>
      </tr>
    <% else %>
	    	<% @pizzas.each do |pizza| %>
			  <tr>
	            <td><%= pizza.id %></td>
	            <td><%= pizza.name %></td>
	            <td>R$ <%= pizza.price %></td>
	            <td><%= pizza.rating %></td>
	            <td>
					<%= number_field_tag pizza.id.to_s.to_sym, params[pizza.id.to_s.to_sym], class: "form-control bfh-number", id: "quantity", name: "quantity", min: "1", max: "99", type: "number" %>
				</td>
	          </tr>
	    	<% end %>
    <% end %>
    </tbody>
  </table>
  <div class="span7 text-center"><%= submit_tag "Enviar Pedido", class: "btn btn-lg btn-primary btn-sample", style: "color: white;", :name => nil %></div>
<% end %>
</div>
