<div class="container">
  <h1>Pizzas</h1>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preços</th>
        <th>Avaliação</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pizzas.each do |pizza| %>
        <tr data-link="<%= pizza_path(pizza) %>">
          <td><%= pizza.name %></td>
          <td><%= number_to_currency( pizza.price ) %></td>
          <td><%= pizza.rating %></td>
          <td><%= button_to 'Editar', edit_pizza_path(pizza), method: :get, class: "btn btn-primary" %></td>
          <td><%= button_to 'Remover', pizza, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= button_to 'Criar Nova Pizza', new_pizza_path, method: :get, class: "btn btn-primary" %>
</div>
<br>
