<div class="container">
  <h1>Restaurantes</h1>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Quantidade de Entregadores</th>
        <th>Quantidade de Pizzaiolos</th>
        <th>Faturamento</th>
        <th>Despesas</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr id="<%= restaurant.id.to_s %>-res" data-link="<%= restaurant_path(restaurant) %>">
          <td><%= restaurant.name %></td>
          <td><%= restaurant.qtd_delivery %></td>
          <td><%= restaurant.qtd_pizzaiolo %></td>
          <td><%= number_to_currency(restaurant.qtd_income) %></td>
          <td><%= number_to_currency(restaurant.qtd_expense) %></td>
          <td><%= button_to 'Atualizar', edit_restaurant_path(restaurant), method: :get, class: "btn btn-primary" %></td>
          <td><%= button_to 'Fechar Unidade', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= button_to 'Cadastrar Novo Restaurante', new_restaurant_path, method: :get, class: "btn btn-primary" %>
</div>
<br>
