<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating_pizzeria %><br>
    <%= f.number_field :rating_pizzeria %>
  </div>
  <div class="field">
    <%= f.label :rating_service %><br>
    <%= f.number_field :rating_service %>
  </div>
  <div class="field">
    <%= f.label :rating_pizza %><br>
    <%= f.number_field :rating_pizza %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
