<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Avaliação da Pizzaria" %><br>
    </div>
    <div class="panel-body">
      <%= f.text_field :rating_pizzeria, size: "50", class: "form_control" %><br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Avaliação do Serviço" %><br>
    </div>
    <div class="panel-body">
      <%= f.text_field :rating_service, size: "50", class: "form_control" %><br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Avaliação da Pizza" %><br>
    </div>
    <div class="panel-body">
      <%= f.text_field :rating_pizza, size: "50", class: "form_control" %><br>
    </div>
  </div>
<% end %>
