<div class="container">
  <h1>Avaliações</h1>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Avaliação da Pizzaria</th>
        <th>Avaliação do Serviço</th>
        <th>Avaliação da Pizza</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @evaluations.each do |evaluation| %>
        <tr data-link="<%= evaluation_path(evaluation) %>">
          <td><%= evaluation.description %></td>
          <td><%= evaluation.rating_pizzeria %></td>
          <td><%= evaluation.rating_service %></td>
          <td><%= evaluation.rating_pizza %></td>
          <td><%= button_to 'Editar', edit_evaluation_path(evaluation), method: :get, class: "btn btn-primary" %></td>
          <td><%= button_to 'Remover', evaluation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if can? :create, Evaluation %>
    <%= button_to 'Fazer Nova Avaliação', new_evaluation_path, method: :get, class: "btn btn-primary" %>
  <% end %>
</div>
