<h1>Listing evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Rating pizzeria</th>
      <th>Rating service</th>
      <th>Rating pizza</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.rating_pizzeria %></td>
        <td><%= evaluation.rating_service %></td>
        <td><%= evaluation.rating_pizza %></td>
        <td><%= link_to 'Show', evaluation %></td>
        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_evaluation_path %>
