<p id="notice"><%= notice %></p>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Dados da Avaliação</h2>
    </div>
    <div class="panel-body">
      <p>
        <strong>Description:</strong>
        <%= @evaluation.description %>
      </p>

      <p>
        <strong>Rating pizzeria:</strong>
        <%= @evaluation.rating_pizzeria %>
      </p>

      <p>
        <strong>Rating service:</strong>
        <%= @evaluation.rating_service %>
      </p>

      <p>
        <strong>Rating pizza:</strong>
        <%= @evaluation.rating_pizza %>
     </p>
	</div>
  </div>
</div>

<div class="container">
  <%= button_to "Editar Avaliação", edit_evaluation_path(@evaluation), method: :get, class: "btn btn-primary" %>
  <%= link_to raw( "Voltar" ), evaluations_path, class: "btn btn-primary", style: "color: white" %>
</div>
