<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div class="alert alert-danger">
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Nome" %><br>
    </div>
    <div class="panel-body">
      <%= f.text_field :name, size: "50", class: "form_control", id: "name-employee" %><br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "CPF" %><br>
    </div>
    <div class="panel-body">
      <%= f.text_field :cpf, size: "50", class: "form_control", id: "cpf-employee" %><br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "RG" %><br>
    </div>
    <div class="panel-body">
      <%= f.text_field :rg, size: "50", class: "form_control", id: "rg-employee" %><br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Telefone" %><br>
    </div>
    <div class="panel-body">
      <%= f.text_field :phone, size: "50", class: "form_control" %><br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Salário" %><br>
    </div>
    <div class="panel-body">
      <%= f.text_field :salary, size: "50", class: "form_control" %><br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.label "Pizzaria" %><br>
    </div>
    <div class="panel-body">
      <%= f.select :restaurant_id, Restaurant.all.collect { |restaurant| [ restaurant.name, restaurant.id ] } %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar Dados do Funcionário", class: "btn btn-success" %>
  </div>
<% end %>
