<div class="container">
  <h1>Funcionários</h1>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>RH</th>
        <th>Telefone</th>
        <th>Salário</th>
        <th>Pizzaria</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr data-link="<%= employee_path(employee) %>">
          <td><%= employee.name %></td>
          <td><%= employee.cpf %></td>
          <td><%= employee.rh %></td>
          <td><%= employee.phone %></td>
          <td><%= employee.salary %></td>
          <td><%= employee.restaurant %></td>
          <td><%= button_to 'Editar', edit_employee_path(employee), method: :get, class: "btn btn-primary" %></td>
          <td><%= button_to 'Remover', employee, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= button_to 'Cadastrar Novo Funcionário', new_employee_path, method: :get, class: "btn btn-primary" %>
</div>

<br>
<br>
<br>
