<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @employee.cpf %>
</p>

<p>
  <strong>Rh:</strong>
  <%= @employee.rh %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>
<p>
  <strong>Restaurant:</strong>
  <% if @employee.restaurant == nil %>
      <%= @employee.restaurant %>
    <% else %>
      <%= @employee.restaurant.name %>
    <% end %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
